---
---
@charset "utf-8";


//dark theme
$background-color:          #3B3E48!important;
$background-color-footer:   #3B3E48!important;
$main-color:                #98a5b0!important;
$secondary-color:           #4b5e6f!important;
$accent-color:              #ff8a80!important;
$button-text:               #cfd8dc!important;
$footer-bar-color:          #70737e!important;
$footer-bar-back-color:     #4b5e6f!important;
$footer-text:               #98a5b0!important;
$card-background:           #41444f!important;

/*
//light theme
$background-color:            #F3F3F3!important;
$background-color-footer:     #fafafa!important;
$main-color:                  #607d8b!important;
$secondary-color:             #90a4ae!important;
$accent-color:                #ff8a80!important;
$button-text:                 #F3F3F3!important;
$footer-bar-color:            #ff8a80!important;
$footer-bar-back-color:       #ffebee!important;
$footer-text:                 #ff8a80!important;
*/

.maincolor{
    color: $main-color;
}
.secondarycolor{
    color: $secondary-color;
}
.accentcolor{
    color: $accent-color;
}


/* Footer --------------------------------------------- */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: $background-color;
 }

 .footercolor{
     background-color: $background-color-footer;
     padding-top: 0!important;
 }

 .footerlinks{
      padding-top:8px;
      color: $footer-text;
 }
 .footerlinks{
     img{
         margin-left: 5px;
         margin-right: 5px;
     }
 }


 .fbarcolor{
     background-color: $footer-bar-color;
 }
 .fbbarcolor{
     background-color: $footer-bar-back-color;
 }

 main {
     flex: 1 0 auto;
 }

 /* Heads and texts --------------------------------- */
 .heads{
     color: $main-color;
     font-weight: 400;
     font-family: 'Quicksand', sans-serif;
 }
 .texts{
     color: $main-color;
     font-size: 20px;
     a{
         color: $accent-color;
     }
 }


 /* Nav -------------------------------------------- */
 .navcolor{
      a{
          color: $main-color;
      }
 }
 .navcust{
     box-shadow: none !important;
     border-top:10px solid $secondary-color;
 }
 .navactive{
     a{
         color: $accent-color;
     }
 }

.mobilenav{
    background-color: $background-color-footer;
}

.sidesec{
    font-family: 'Quicksand', sans-serif!important;
}

 /* ********************* Index ************************* */

.indexcont{
     margin-top:50px!important;
}
.rkrovs{
     font-weight:400;
     color: $main-color;
     font-size: 100px;
     font-family: 'Quicksand', sans-serif;
}
.subrkrovs{
    color: $main-color;
    font-weight:200;
    img{
        margin-left: 5px;
        margin-right: 5px;
    }
}
.thingy{
    margin-top: 100px;

}
.latest{
    font-weight: 200;
}
.latest2{
    font-weight: 400!important;
    font-family: 'Quicksand', sans-serif;
}
.mainlogo{
    width: 80px;
    padding-top: 30px;
}

.socialicon{
    width: 40px;
}


@media (max-width: 620px) {
  .rkrovs{
    font-size: 80px;
  }
  .mainlogo{
      width: 60px;
  }

}

@media (max-width: 490px) {
    .indexcont{
        margin-top:0px!important;
    }
    .rkrovs{
        font-size: 45px;
    }
    .subrkrovs{
        font-size: 19px;
    }
    .thingy{
        margin-top: 80px;
    }
    .posttitle{
        font-size: 45px;
    }
    .postsubtitle{
        font-size: 30px;
    }
    .texts{
        font-size: 18px;
    }
    .latest{
        font-size: 20px;
    }
    .latest2{
        font-size: 20px;
    }
    .mainlogo{
        width: 50px;
    }
    .socialicon{
        width: 30px;
    }
}

 /* ********************* Post ************************* */

.posttitle{
    font-weight: 400;
    margin-top: 0;
}
.postsubtitle{
     font-weight: 300;
}
.postbuttoncolor{
    background-color: $secondary-color;
    //-webkit-box-shadow: none!important;
    //-moz-box-shadow: none!important;
    //box-shadow: none!important;
    color: $button-text;
}



 /* ********************* Projects ******************** */

/* Card custom */
.flatcard{
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    border: 3px solid $secondary-color;
    background-color: $card-background;
    padding-top: 10px!important;
    padding-bottom: 5px!important;

}
.cardheads{
    color: $main-color;
    font-weight: 600!important;
    font-family: 'Quicksand', sans-serif;
}
.cardtexts{
    color: $main-color;
    font-size: 18px;
     padding-left:16px;
}



 /* ********************* About ******************** */
.barbcolor{
    background-color: $secondary-color;
}
.barcolor{
    background-color: $accent-color;
}
