<nav class="transparent navcust navcolor" role="navigation">
  <div class="nav-wrapper container">
    <ul class=" hide-on-med-and-down right" id="nav">
        <li id="home"><a href="{{site.baseurl}}/"><i class="fa fa-home"></i></a></li>
        <li id="projects"><a href="{{site.baseurl}}/projects"><i class="fa fa-code"></i></a></li>
        <li id="about"><a href="{{site.baseurl}}/about"><i class="fa fa-user"></i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav mobilenav center">
        <img src="/images/logo.png" width="100" style="padding-top:30px">
        <li></li>
        <li id="home"><a href="{{site.baseurl}}/"><i class="fa fa-home"> <span class="sidesec"> Home<span></i></a></li>
        <li id="projects"><a href="{{site.baseurl}}/projects"><i class="fa fa-code"> <span class="sidesec"> Projects<span></i></a></li>
        <li id="about"><a href="{{site.baseurl}}/about"><i class="fa fa-user"> <span class="sidesec"> About<span></i></a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
