<a href="#light" id="theme-switch" aria-label="Switch theme" class="contrast">
  <span class="icon-sun">
    {% include icon.html name="tabler-sun-filled" %}
  </span>
  <span class="icon-moon" style="display:none;">
    {% include icon.html name="tabler-moon-filled" %}
  </span>
</a>

{% unless page.nav == "home" %}
<nav>
<ul>

  </ul>
  <ul>
    <li><a href="{{site.baseurl}}/" class="secondary">/home</a></li>
    <li><a href="{{site.baseurl}}/projects" class="secondary">/projects</a></li>
    <li><a href="{{site.baseurl}}/homelab" class="secondary">/homelab</a></li>
	    <li><a href="https://krovs.github.io/seclogs/" class="secondary">/seclogs</a></li>
  </ul>

  <ul>

  </ul>
</nav>
{% endunless %}
