---

---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

// variables
$background-color:          #f6f6f6!important;
$text-color:                #5a5a5a!important;
$main-color:                #b08daf!important;
$bold-color:                #574957!important;
$btnhover-color:            #dbdbdb!important;
$footer-color:              #a298a2!important;

$skillc1:               #ebbceb!important;
$skillc2:               #bce2eb!important;
$skillc3:               #bcebbe!important;


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $background-color;
    font-family: 'Ubuntu', sans-serif;
}

main {
    flex: 1 0 auto;
}

a {
    color: $main-color;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

b {
    color: $bold-color;
}

h1,h2,h3,h4 {
    color: $bold-color;
    font-family: 'Ubuntu', sans-serif;
}



// Index ------------------------------------------ */

.indextexts {
    font-family: 'Ubuntu', sans-serif;
    color: $text-color;
    font-size: 18px;
    line-height: 35px;

    a:hover {
        background-color: $btnhover-color;
        border-radius: 10%;
    }
}

.hicont {
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.himage {
    margin-bottom:16px;
}

.hipara {
    margin-bottom:15px;
    font-size: 26px;
}

.skillall {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
}

.skillcont {
    padding-left: 9px;
    padding-right: 9px;
}

.skill {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.skillc1 {
    background-color: $skillc1;
    
}
.skillc2 {
    background-color: $skillc2;
}
.skillc3 {
    background-color: $skillc3;
}

.indexhr {
    border: 0;
    width: 43%;
    background-color: $main-color;
    height: 1px;
}

.indexlatest {
    text-align: center;
}

@media (max-width: 767px) {
    .hicont {
        margin-top: 0px;
    }
}

.indexicons {
    text-align: center;
    font-size: 2.3rem;
    margin-top: 20px;
    a {
        padding-left: 10px;
        padding-right: 10px;
        color: $bold-color;
    }
    a:hover{
        color: $main-color;
    }
}


// Page layout------------------------------------------ */
// POST
.pagecont {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-width: 600px;
}

@media (max-width: 599px) {
    .pagecont {
        width: 100%;
    }
}

.pagehr {
    border: 0;
    width: 100%;
    background-color: $main-color;
    height: 1px;
    margin-bottom: 10px;
}

.pagetitle {
    font-size: 39px;
}

@media (max-width: 599px) {
    .pagetitle {
        font-size: 26px;
        margin-top: 0px;
    }
}

// WRITEUP
.writeupcont {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-width: 900px;
}
@media (max-width: 599px) {
    .writeupcont {
        width: 100%;
    }
}

// Nav -------------------------------------------- */
.navtext {
    a{
        color: $bold-color;
    }
    a:hover {
        color: $main-color;
    }
    font-family: 'Ubuntu', sans-serif;
}

.navactive {
    a{
        color: $main-color;
    }
}


.navcust {
    box-shadow: none !important;
    border-color: transparent !important;
    border-top:2px solid $main-color;
    background-color: transparent !important;
    border-radius: 0px;
}

.navbar .navbar-nav {
    display: inline-block !important;
    float: none !important;
}

.navbar .navbar-collapse {
    text-align: center;
}


@media (max-width: 767px) {
    .navbar {
        margin-bottom: 0px;
    }
}


// Footer -------------------------------------------- */

.footerlinks {
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: $footer-color;
}

.footerlinks:hover {
    color: $bold-color;
}


// Projects ---------------------------------------------*/

.protitle{
    font-size: 21px;
    a:hover{
        background-color: $btnhover-color;
        border-radius: 10%;
    }
}
.prosubtitle{
    font-size: 16px;
    padding-left: 36px;
}

.prodate{
    float: right;
}

@media (max-width: 599px) {
    .psubtitle{
        padding-left:0;
    }
    .prodate{
        float: none;
    }
}


// HTB ---------------------------------------------*/
.htbtitle{
    
    margin: 0px!important;
    a:hover{
        background-color: $btnhover-color;
        border-radius: 10%;
    }
}

.htbrow{
    margin-top: 15px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
}
@media (max-width: 599px) {
    .htbsubtitle{
        padding-left:0;
    }
    .htbdate{
        float: none;
    }
}

table{
    font-family: 'Ubuntu', sans-serif;
}

// Posts -------------------------------------------- */

.posttext p {
    font-family: 'Ubuntu', sans-serif;
    color: $text-color;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 25px;

    a:hover{
        background-color: $btnhover-color;
        border-radius: 10%;
    }

    img{
        text-align: center;
        margin: 0 auto;
        max-height: 300px;
    }
}
.thumbnail{
    background-color: transparent;
    border: none;
}


.posttitle{
    font-size: 39px;
}
.postsubtitle{
    font-size: 24px;
    margin-top: 20px;
}

.pdate {
    padding-left: 16px;
}

.postcont{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-width: 600px;
}
@media (max-width: 599px) {
    .postcont {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    .postsubtitle{
        font-size: 20px;
        margin-top: 18px;
    }
    .posttitle{
        font-size: 26px;
    }
}

.pbuttons{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.btn-custom {
    background-color: transparent;
    border: 2px solid $main-color;
    border-radius: 10%;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    color: $background-color;
    background-color: $main-color;
}

.btn-custom-small {
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 10%;
    font-size: 10px;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.btn-custom-small:hover,
.btn-custom-small:focus,
.btn-custom-small:active,
.btn-custom-small.active,
.open .dropdown-toggle.btn-custom-small {
    color: $background-color;
    background-color: $main-color;
}

.minibuttons {
    float:right;
}


.pcaret:hover{
    color: $bold-color;
}


.modal-dialog{
    width: 70%;
}
.modal-content{
    background: transparent;
    box-shadow: none;
    border: none;
}
.modal-header{
    border: none;
    margin: 0;
    margin-right: 16px;
    padding: 0;
}
.modal-body{
    width: 100%;
    img{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .modal-dialog{
        width: 100%;
    }
}

// 404 ----------------------------------------------------- */

.notfound {
    margin-top: 40px;
    text-align: center;
    img {
        margin: 0 auto;
    }
}
.nottext {
    margin-top: 30px;
}
